body {
  background-color: rgba(0, 0, 0, 0.765);
  color: beige;
  text-align: center;
  font-family: arial;
}
h1 {
  font-weight: bold;
}
input[type="button"] {
  font-weight: bold;
  font-size: 13pt;
  background-color: rgba(0, 0, 0, 0.8);
  color: beige;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  width: 145px;
  height: 38px;
  border-color: beige;
  border-style: solid;
}